{%  extends  'base.html' %}

{% block head %}

<title> Classify Company </title>
<meta name="description" content="get information about a clients home">

{% endblock %}


{% block content %}

	<div class="home">
		<span class="message"> <b> Enter Company information </b></span>
	</div>

	<form action= "/classify" >
		<div class="homeinfo">

		<div id="numbers" class="homeinfokids"> 
			<h4> Type or scroll </h4>
			<input type="number" name="{{features[0]}}" min="1.00" class="c1" value={{values.get(features[0])}}> {{features[0]}}
			<br> 
			{% for feature in features[1:8] %}
			
			<input type="number" name= "{{feature}}" min="0" class="c1" value={{values.get(feature)}}> {{feature}}  <br/> 
			{% endfor %}
		</div >

        <div id="city" class="homeinfokids">
			<h4> State Code </h4>
            <!-- use the select tag here to create a drop down  -->
			{% for feature in features[8:13] %}
			<input type="radio" name= "{{feature}}" class="c1 featsize" value={{values.get(feature)}}> {{feature}}  <br/> <br/>
			{% endfor %}
		</div>

        <div id="city" class="homeinfokids">
			<h4> Profession </h4>
			{% for feature in features[13:23] %}
			<!-- <input type="radio" name= "{{feature}}" class="c1 featsize" value={{values.get(feature)}}> {{feature}}  <br/> <br/> -->
			<select name= "{{feature}}" class="c1 featsize">
				<option value={{values.get(feature)}}> {{feature}} </option>
			</select>
			{% endfor %}
		</div>

		<div id="radio" class="homeinfokids">

			<h4> Select all that apply </h4>
			{% for feature in features[23:33] %}	
			<input type="checkbox" name = "{{feature}}" class="featsize" value ={{values.get(feature)}}> {{feature}}  <br/> <br/> 
			{% endfor %}
		</div>
		<div id="city" class="homeinfokids">
			<h4> Your city </h4>
			{% for feature in features[33:-35] %}
			<input type="radio" name= "{{feature}}" class="c1 featsize" value={{values.get(feature)}}> {{feature}}  <br/> <br/>
			{% endfor %}
		</div>
        <div id="city" class="homeinfokids">
			<h4> Category</h4>
			{% for feature in features[-35:] %}
			<input type="radio" name= "{{feature}}" class="c1 featsize" value={{values.get(feature)}}> {{feature}}  <br/> <br/>
			{% endfor %}
		</div>




		<div class="homeinfokids btnsdiv">
            <input type="reset" value="CLEAR ">
			<input type="submit" value="SUBMIT FORM">
	    </div>
     </div>
	</form>
	
{% endblock %}