<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet"> 
    <title>Startup sign up form</title>
    <link rel="stylesheet" href="start-up-form.css">
</head>
<body>
    
    <h1 class="title">Enter Company Information</h1>

    <main class="container">

        <section class="inputs">
            <h3 class="text">Type or Scroll</h3>

            <div class="age">
            <label for="">age_first_funding_year</label>
            <input type="number" min="" max="">
            </div>

            <div class="age">
            <label for="">age_last_funding_year</label>
            <input type="number" min="" max="">
            </div>

            <div class="age">
            <label for="">age_first_milestone_year</label>
            <input type="number" min="" max="">
            </div>

            <div class="age">
            <label for="">age_last_milestone_year</label>
            <input type="number" min="" max="">
            </div>
            
            <div class="age">
            <input type="text">
            <label for="">relationship</label>
            </div>
            
            <div class="age">
            <input type="text">
            <label for="">funding_rounds</label>
            </div>

            <div class="age">
            <input type="text">
            <label for="">funding_total_usd</label>
            </div>

            <div class="age">
            <input type="text">
            <label for="">milestone</label>
            </div>
        </section>


        <section class="inputs">
            <h3 class="text">State Code</h3>

            <div class="state">
            <input type="radio" name="states" id="">
            <label for="">is_CA</label>
            </div>

            <div class="state">
            <input type="radio" name="states" id="">
            <label for="">is_NY</label>
            </div>

            <div class="state">
            <input type="radio" name="states" id="">
            <label for="">is_MA</label>
            </div>

            <div class="state">
            <input type="radio" name="states" id="">
            <label for="">is_TX</label>
            </div>

            <div class="state">
            <input type="radio" name="states" id="">
            <label for="">is_otherstate</label>
            </div>
        </section>

        <section class="inputs">
            <h3 class="text">Profession</h3>
            <select name="" id="">
                <option value="software">is_software</option>
                <option value="web">is_web</option>
                <option value="mobile">is_mobile</option>
                <option value="enterprise">is_enterprise</option>
                <option value="advertising">is_advertising</option>
                <option value="gamesvideo">is_gamesvideo</option>
                <option value="ecommerce">is_ecommerce</option>
                <option value="biotech">is_biotech</option>
                <option value="consulting">is_consulting</option>
                <option value="othercategory">is_othercategory</option>
            </select>
            <div class="btns">
                <button type="reset">CLEAR</button>
                <button type="submit">SUBMIT FORM</button>
            </div>
        </section>

        <section class="inputs">
            <h3 class="text">Select all that apply</h3>
            <div class="state">
            <input type="checkbox" id="">
            <label for="">has_VC</label>
            </div>

            <div class="state">
            <input type="checkbox" id="">
            <label for="">has_angel</label>
            </div>

            <div class="state">
            <input type="checkbox" id="">
            <label for="">has_roundA</label>
            </div>

            <div class="state">
            <input type="checkbox" id="">
            <label for="">has_roundB</label>
            </div>

            <div class="state">
            <input type="checkbox" id="">
            <label for="">has_roundC</label>
            </div>

            <div class="state">
            <input type="checkbox" id="">
            <label for="">has_roundD</label>
            </div>

            <div class="state">
            <input type="checkbox" id="">
            <label for="">avg_participants</label>
            </div>

            <div class="state">
            <input type="checkbox" id="">
            <label for="">is_top500</label>
            </div>

            <div class="state">
            <input type="checkbox" id="">
            <label for="">status</label>
            </div>

            <div class="state">
            <input type="checkbox" id="">
            <label for="">state_code_AR</label>
            </div>
        </section>

        <section class="inputs">
            <h3 class="text">Your city</h3>
            <div class="state">
            <input type="radio" id="">
            <label for="">state_code_AZ</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">state_code_CA</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">state_code_CO</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">state_code_CT</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">state_code_DC</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">state_code_FL</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">state_code_GA</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">state_code_ID</label>
            </div>
        </section>

        <section class="inputs">
            <h3 class="text">Category</h3>
            <div class="state">
            <input type="radio" id="">
            <label for="">category_code_advertising</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">category_code_analytics</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">category_code_automotive</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">category_code_biotech</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">category_code_cleantech</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">category_code_consulting</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">category_code_ecommerce</label>
            </div>

            <div class="state">
            <input type="radio" id="">
            <label for="">category_code_education</label>
            </div>
        </section>
    </main>

</body>
</html>